@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}
body{
   
    font-family:Montserrat;
    background-image: url(https://st.depositphotos.com/67903508/58167/i/450/depositphotos_581677164-stock-photo-beautiful-black-blue-striped-pattern.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  padding: 2em;
  height: fit-content;
}
.navbar{
    display:flex;
    justify-content: end;
    align-items: center;
    position: sticky;
}
.navlist{
    display:flex;
    gap: 1.2rem;
}
.navlist li{
    list-style: none;
}
.navlist li a{
    text-decoration: none;
    font-size: clamp(1rem, 2.5vw, 1.7rem); 
    color:white;
    background-color: rgba(40, 36, 36, 0.208);
    padding: 0.3em 1.2em;
    border-radius: 10px;
}
.navlist li a:hover{
    box-shadow: 2px 1px 10px rgb(215, 215, 220);
}
.hidden{
    display:flex;
}


/* navbar */
.container{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6em;
    padding: 1em;
    height: 100vh;
}
.high{
    color:rgb(111, 214, 111);
}
.img{
    height: 20em;
    width: 20em;
    border-radius: 50%;
    cursor: pointer;
}
.img img{
   height: 20rem;
   width: 20rem;
   object-fit: cover;
    transition: all 0.6s ease;
    border-radius: 50%;
}
img:hover{
    border-radius: 10%;
}
.information{
    color:white;
     font-size:clamp(1rem, 2.5vw, 1.2rem);
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: start;
     
}
.information p{
    width: 60ch;
}
.skill-list{
    display: flex;
    gap: 2em;
    margin-left: 1em;
    justify-content: center;
}
.greeting{
    padding: 0.8em 2em;
    margin-top: 1em;
    border-radius: 7px;
    border:none;
    background-color: rgba(12, 66, 228, 0.479);
    color:whitesmoke;
    font-size: 1em;
    cursor: pointer;
    text-decoration: none;
}
.greeting:hover{
    box-shadow: 1px 1px 10px rgb(6, 24, 228);
}
@media(max-width: 1220px){
    .container{
        gap: 0.4rem;
        transition: all 0.3s ease;
    }
    .container p{
        width: 40ch;
    }
}
@media (max-width: 960px){
    .container{
        flex-direction: column;
   margin-top: 7em;
   gap: 1rem;
    }
    .greeting{
        margin-left: 8em;
        margin-bottom: 1em;
        }
    
  
}
@media (max-width: 440px){
    .container{
        flex-direction: column;
    }
   
    .skill-list{
        display: grid;
       grid-template-columns: repeat(2, auto);
    }
  
}
