@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}
body,html{
   
    font-family:Montserrat;
    background-image: url(https://st.depositphotos.com/67903508/58167/i/450/depositphotos_581677164-stock-photo-beautiful-black-blue-striped-pattern.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    min-height: 100svh;
    scroll-behavior: smooth;
}
.navbar{
    display:flex;
    justify-content: end;
    align-items: center;
    position: sticky;
    padding: 20px;
}
.navlist{
    display:flex;
    gap: 1.2rem;
}
.navlist li{
    list-style: none;
}
.skill-list li svg{
    fill:white;
    height: 2rem;
}
.navlist li a{
    text-decoration: none;
    font-size: clamp(1.3rem, 2.5vw, 2rem); 
    color:white;
    background-color: rgba(40, 36, 36, 0.208);
    padding: 0.3em 1.2em;
    border-radius: 10px;
    display: flex;
  gap: 0.5em;
  justify-content: center;
  align-items: center;
}
.navlist li a svg{
    fill:white;
    height: 2rem;
}
.navlist li a:hover{
    box-shadow: 2px 1px 10px rgb(215, 215, 220);
}



/* navbar */
.container{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6em;
    padding: 1em;
    margin-top: 2em;
}
.high{
    color:rgb(111, 214, 111);
}
.indexImg{
    border-radius: 50%;
    cursor: pointer;
}
.indexImg img{
   height: 20rem;
   width: 20rem;
   object-fit: cover;
    transition: all 0.6s ease;
    border-radius: 50%;
}
.indexImg img:hover{
    border-radius: 10%;
}
.information{
    color:white;
     font-size:clamp(1rem, 2.5vw, 1.2rem);
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: start;
 
     
}
.information p{
    width: 60ch;
    color: #e5e4e4
 
}
.skill-list li{
    display: flex;
    gap: 1em;
    justify-content: center;
    align-items: center;
    color:#e5e4e4;
}
.skill-list{
    display: flex;
    gap: 2em;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.indexLinks{
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    gap: 2em;
}
.greeting{
    padding: 0.8em 2em;
    margin-top: 1em;
    border-radius: 7px;
    border:none;
    background-color: rgba(12, 228, 52, 0.479);
    color:whitesmoke;
    font-size: 1em;
    cursor: pointer;
    text-decoration: none;
}
.greeting:hover{
    box-shadow: 1px 1px 10px rgb(6, 24, 228);
}
@media (max-width: 1245px){
    .container{
        gap: 1.5rem;
        transition: all 0.3 s ease;
    }
    .indexImg img{
        height: 15rem;
        width: 15rem;
    }
    .container p{
        width: 50ch;
    }
}
@media (max-width:950px) {
    .container{
        gap: 1rem;
        flex-direction: column-reverse;
       height: max-content;
    }
    .indexImg{
        
       margin-top: 2em;
    
    }
    .information{
        align-items: center;
    }
    .information p{
        text-align: center;
    }
  .indexImg img{
        height: 15rem;
        width: 15rem;
    }
    .skill-list li{
        gap: 0.3em;
    }
    
}
@media (max-width: 530px) {
    .container{
        height: max-content;
    }
    .information p{
        width: 40ch;
        font-size: 0.9rem;
    }
    
}
@media (max-width: 430px){
    .information p{
        width: 30ch;
    }
    .skill-list{
        font-size: 0.7rem;
    }
    .indexLinks{
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
    }
    .navlist{
        gap: 0.5rem;
    }
    .navlist li a{
        
        font-size: 1rem;
    }
}
@media (max-width: 300px){
    .indexImg img{
        height: 10rem;
        width: 10rem;
    }
    .information p{
        font-size: 0.8rem;
    }
    .navlist{
        gap: 0.3rem;
    }
    .navlist li a{
        font-size: 0.8rem;
    }
}

.projectMain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10em;
    margin-bottom: 2em;
}
.projectMain h1{
    color:white;
    font-family: merriweather;
  border-bottom:2px solid white;
  padding: 0.3em;

}
.projects{
    margin-top: 5em;
    display:grid;
    grid-template-columns: repeat(3, auto);
    gap: 3em;
    color:white;
    text-align: center;
    margin-bottom: 5em;
}
.projects img{
    height: 13em;
}
.projects img:hover{
 border: 3px solid yellow;
 box-shadow: 2px 3px 10px rgb(8, 201, 236);
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
}
.projectOne{
    display: flex;
    flex-direction: column;
    gap: 0.8em;
}
.projectOne h2{
font-size: clamp(0.6rem, 2.5vw, 1.5rem);  
}
.projectTwo{
    display: flex;
    flex-direction: column;
    gap: 0.8em;
}
.projectTwo h2{
font-size: clamp(0.6rem, 2.5vw, 1.5rem);  
}
.projectThree{
    display: flex;
    flex-direction: column;
    gap: 0.8em;
}
.projectThree h2{
font-size: clamp(0.6rem, 2.5vw, 1.5rem);  
}
.projectFour{
    display: flex;
    flex-direction: column;
    gap: 0.8em;
}
.projectFour h2{
font-size: clamp(0.6rem, 2.5vw, 1.5rem);
}
.links svg{
    fill:black;
    height: 2em;
    border:none;
    padding: 0.4em;
    z-index: 9;
}
.links{
    display: none;
    text-align: end;
}
#close{
    display: none;
    height: 4rem;
    padding: 1em;
    border-radius: 50%;
    background-color: rgba(15, 15, 122, 0.855);
    border:none;
    cursor: pointer;
    fill:white;
    margin-top: 1em;
}
#open{
    display: none;
    display: none;
    height: 3.5rem;
    padding: 1em;
    border-radius: 50%;
    margin-top: 10em;
    background-color: rgba(7, 7, 79, 0.855);
    border:none;
    cursor: pointer;
    fill:white;
  
}
.hidden{
   display: none;
   width: 70vw;
   background-color: rgb(4, 17, 69);
   overflow: hidden;
   color:white;
   position: fixed;
   transition: all 0.4s ease;
   z-index: 9;
 }

.hidden li{
    list-style: none;
    margin-top: 3em;
    position: relative;
}
.hidden li a{
    text-decoration: none;
    padding: 0.7em;
    }
.left{
    width: 90vw;
    display: flex;
    gap:2rem;
}

@media (max-width: 1250px){
    .projects{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 885px){
    .projects{
        grid-template-columns: repeat(1, 1fr)
    };
}

@media(max-width: 760px){
    .hidden{
        display: block;
        left: 50em;
        text-align: start;
        height: 100vh;
        height: 100svh;
    }
    .hidden li{
       padding-top: 2em;
    }
    .hidden li a{
        color:white;
        font-size: 2rem;
        text-align: center;
    }
   .navlist{
    display: none;
   }
   .hidden{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
   top:0.1em;
   }
   #open{
    display: block;
    border-radius: 20%;
    margin-top: 1em;
    background-color: rgba(7, 7, 79, 0.855);
    border:none;
    cursor: pointer;
   }
   #open svg{
   height: 2rem;
   padding: 4px 3px;
   
   fill:white;
   }
   #close{
    display: none;
   }
   #close svg{
    height: 3.1em;
    padding: 0px 3px;
   }
   .links button svg{
    display: block;
    height: 3em;
   }
   .links{
    display:block;
    z-index: 9;
   }
   .hidden li a:hover{
    border-bottom: 3px solid whitesmoke;
    transition: all 0.4s ease;
   }
}
  
    
@media (max-width: 460px){
    .projects img{
        height: 10rem;
    }
    .left{
    display: flex;
    gap:2rem;
    justify-content: start;
    align-items: center;
    text-align: center;
    }
}
@media (max-width: 330px){
    .projects img{
        height: 5rem;
    }
    .projectMain h1{
        font-size: 1.4rem;
    }
    .left a{
        font-size: 0.7rem;
    }
   
}
.project{
    margin-top: 10em;
   
}
/* hidden navbar */

